<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Studio4</title>
</head>
<body>
<section class="main">
  <h2>Who we are</h2>
  <p>We are a group of artists, sharing the wonderful space called 'Studio 4', located in the heart of Berlin Friedrichshain.</p>
  <p>Here you can find a list of artists currently working here:</p>
  <ul class="main__artist-list">
    <li>
      <a href="">tzftf</a>
    </li>
  </ul>
</section>
</html>